<tr>
  <td>
    <%= link_to board.name, board_path(board.id) %>
  </td>
  <td>
    <% developers_estimation = Estimation.developers_estimation(board.id) %>
    <% if developers_estimation.count > 0 %>
      <%= developers_estimation.sum(&:user_time)/ developers_estimation.count.to_f %>
    <% else %>
      0
    <% end %>
  </td>
  <td>
    <% managers_estimation = Estimation.managers_estimation(board.id) %>
    <% if managers_estimation.count > 0 %>
      <%= managers_estimation.sum(&:user_time)/ managers_estimation.count.to_f %>
    <% else %>
      0
    <% end %>
  </td>
  <td>
    <%= HarvestLog.total_time_tracked(board.id).sum(&:total_time) %>
  </td>
  <td>
    <%= hours_left(board) %>
  </td>
</tr>