<% lists = board.lists %>
<% board_estimates = Estimation.for_board(board.id) %>
<% tracked_time = board_tracked_time(board.id) %>

<tr>
  <td class="board-name">
    <%= link_to board.name, board_path(board.id) %>
  </td>
  <td>
    <% dev_estimate = board_estimates.by_developers.total_hours %>
    <%= dev_estimate unless dev_estimate.zero? %>
  </td>
  <td>
    <% manager_estimate = board_estimates.by_manager.total_hours %>
    <%= manager_estimate unless manager_estimate.zero? %>
  </td>
  <td>
    <%= sprintf('%0.2f', tracked_time) unless tracked_time.zero? %>
  </td>
  <td>
    <%= board_remaining_time(dev_estimate, manager_estimate, tracked_time) %>
  </td>
  <td>
    <%= board_performance(dev_estimate, manager_estimate, tracked_time) %>
  </td>
</tr>
