<% lists = board.lists %>
<tr>
  <td class="board-name">
    <%= link_to board.name, board_path(board.id) %>
  </td>
  <td>
    <%= dev_estimate = Estimation.developers_estimation(board.id).sum(&:user_time) %>
  </td>
  <td>
    <%= manager_estimate = Estimation.managers_estimation(board.id).sum(&:user_time) %>
  </td>
  <td>
    <%= tracked_time = HarvestLog.joins(:harvest_trello).where(harvest_trellos: {trello_board_id: board.id}).sum(&:time_spent) %>
  </td>
  <td>
    <!-- estimations_helper.rb -->
    <%= get_remaining_hours(dev_estimate, manager_estimate, tracked_time) %>
  </td>
  <td>
    <!-- estimations_helper.rb -->
    <%= calculate_board_performance(dev_estimate, manager_estimate, tracked_time) %>
  </td>
</tr>
