<tr>
  <td class="board-name">
    <% board_id = parse_short_link(board.url) %>
    <%= link_to board.name, board_path(board_id) %>
  </td>
  <td>
    <%= dev_estimate = get_estimated_time(:board, board_id, :developers) %>
  </td>
  <td>
    <%= manager_estimate = get_estimated_time(:board, board_id, :manager) %>
  </td>
  <td>
    <% tracked_time = get_tracked_time(:board, board_id) %>
    <%= sprintf('%0.2f', tracked_time) if tracked_time %>
  </td>
  <td>
    <%= calc_remaining_time(dev_estimate, manager_estimate, tracked_time) %>
  </td>
  <td>
    <%= calc_performance(dev_estimate, manager_estimate, tracked_time) %>
  </td>
</tr>
