<% lists = board.lists %>
<% tracked_time = get_total_tracked_time(board) %>
<tr>
  <td class="board-name">
    <%= link_to board.name, board_path(board.id) %>
  </td>
  <td>
    <!-- All methods below are located within `estimations_helper.rb` -->
    <% dev_estimate = Estimation.developers_estimation(board.id).sum(&:user_time) %>
    <%= dev_estimate unless dev_estimate.zero? %>
  </td>
  <td>
    <% manager_estimate = Estimation.managers_estimation(board.id).sum(&:user_time) %>
    <%= manager_estimate unless manager_estimate.zero? %>
  </td>
  <td>
    <%= sprintf('%0.2f', tracked_time) unless tracked_time.zero? %>
  </td>
  <td>
    <%= get_remaining_hours(dev_estimate, manager_estimate, tracked_time) %>
  </td>
  <td>
    <%= total_board_performance(dev_estimate, manager_estimate, tracked_time) %>
  </td>
</tr>
