<tr>
  <td>
    <%= link_to board.name, board_path(board.id) %>
  </td>
  <td>
    <% developers_estimation = Estimation.developers_estimation(board.id) %>
    <%= developers_estimation.sum(&:user_time) %>
  </td>
  <td>
    <% managers_estimation = Estimation.managers_estimation(board.id) %>
    <%= managers_estimation.sum(&:user_time) %>
  </td>
  <td>
    <%= HarvestLog.total_time_tracked(board.id).sum(&:total_time) %>
  </td>
  <td>
    <%= hours_left(board) %>
  </td>
  <td>
    <%= performance(board) %>
  </td>
</tr>