<h1>
  <%= @board.name %>
</h1>

<% @lists.each do |list| %>
  <h2>
    <%= list.name %>
  </h2>
  <% if list.cards.count > 0 %>
    <table class="table table-striped table-bordered">
      <thead>
      <th>
        Name
      </th>
      <th>
        Developers Estimation
      </th>
      <th>
        Managers Estimation
      </th>
      <th>
        Time Tracked
      </th>
      <th>
        <% if list.finished? %>
          Performance
        <% else %>
          Remaining hours
        <% end %>
      </th>
      </thead>
      <tbody>
      <% list.cards.each do |card| %>
        <tr>
          <td class="card-name">
            <%= linked_card_name(card) %>
          </td>
          <td>
            <%= "%.2f" % get_developer_estimate(@board, card) %>
          </td>
          <td>
            <%= "%.2f" % get_manager_estimate(@board, card) %>
          </td>
          <td>
            <%= total_harvest_time(@board, card) %>
          </td>
          <td>
            <%= developer_and_manager_ratios(@board, card) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>
      No cards in this section
    </div>
  <% end %>
<% end %>
