<h1>
  <%= @board.name %>
</h1>

<% @lists.each do |list| %>
  <em><h3><%= list.name %></h3></em>
  <% if list.cards.count > 0 %>
    <table class="table table-striped table-bordered">
      <thead>
        <th class="card-name">Card Name</th>
        <th>Developers Estimate</th>
        <th>Managers Estimate</th>
        <th>Tracked Time</th>
        <th>Remaining Time</th>
        <th>Performance</th>
      </thead>
      <tbody>
      <!-- ALL methods below are located within `boards_helper.rb` -->
      <% list.cards.each do |card| %>
        <% card_hash = fetch_card_estimates(@board, card) %>
        <tr>
          <td class="col-md-5 card-link">
            <%= linked_card_name(card) %>
          </td>

          <td class="col-md-1">
            <%= dev_estimate = time_estimation(card_hash) %>
          </td>

          <td class="col-md-1">
            <%= manager_estimate = time_estimation(card_hash, manager = true) %>
          </td>

          <td class="col-md-1">
            <% harvest_time = card_tracked_time(card) %>
            <%= sprintf("%0.2f%", harvest_time) %>
          </td>

          <td class="col-md-1">
            <%= remaining_time(dev_estimate, manager_estimate, harvest_time) %>
          </td>

          <td class="col-md-1">
            <%= card_performance(dev_estimate, manager_estimate, harvest_time) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>
      No cards in this section
    </div>
  <% end %>
<% end %>
