<h1>
  <%= @board.name %>
</h1>

<% @lists.each do |list| %>
  <em><h3><%= list.name %></h3></em>

  <% if list.cards.count > 0 %>
    <table class="table table-striped table-bordered">
      <thead>
        <th class="card-name">Card Name</th>
        <th>Developers Estimate</th>
        <th>Managers Estimate</th>
        <th>Tracked Time</th>
        <th>Remaining Time</th>
        <th>Performance</th>
      </thead>
      <tbody>

      <!-- ALL methods below are located within `boards_helper.rb` -->
      <% list.cards.each do |card| %>
        <% card_id = parse_card_id(card.url) %>
        <tr>
          <td class="col-md-5 card-link">
            <%= linked_card_name(card) %>
          </td>

          <td class="col-md-1">
            <%= dev_estimate = card_estimated_time(card_id, :developers) %>
          </td>

          <td class="col-md-1">
            <%= manager_estimate = card_estimated_time(card_id, :manager) %>
          </td>

          <td class="col-md-1">
            <% harvest_time = card_tracked_time(card_id) %>
            <%= sprintf("%0.2f", harvest_time) if harvest_time %>
          </td>

          <td class="col-md-1">
            <%= card_remaining_time(dev_estimate, manager_estimate, harvest_time) %>
          </td>

          <td class="col-md-1">
            <%= card_performance(dev_estimate, manager_estimate, harvest_time) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>
      No cards in this section
    </div>
  <% end %>
<% end %>
