<h1>
  <%= @board.name %>
</h1>

<% @lists.each do |list| %>
  <h2>
    <%= list.name %>
  </h2>
  <% if list.cards.count > 0 %>
    <table class="table">
      <thead>
      <th>
        Name
      </th>
      <th>
        Developers Estimation
      </th>
      <th>
        Managers Estimation
      </th>
      <th>
        Time Tracked
      </th>
      <th>
        <% if list.finished? %>
          Performance
        <% else %>
          Remaining hours
        <% end %>
      </th>
      </thead>
      <tbody>
      <% list.cards.each do |card| %>
        <tr>
          <td>
            <%= card.name %>
          </td>
          <td>
            <% developers_estimation = Estimation.developers_estimation(@board.id, card.short_id.to_s ) %>
            <% average_developer_estimation = 0 %>
            <% if developers_estimation.count > 0 %>
              <% average_developer_estimation = developers_estimation.sum(&:user_time)/ developers_estimation.count.to_f %>
            <% end %>
            <%= "%.2f" % average_developer_estimation %>
          </td>
          <td>
            <% managers_estimation = Estimation.managers_estimation(@board.id, card.short_id.to_s) %>
            <% average_manager_estimation = 0 %>
            <% if managers_estimation.count > 0 %>
              <% average_manager_estimation = managers_estimation.sum(&:user_time)/ managers_estimation.count.to_f %>
            <% end %>
            <%= "%.2f" % average_manager_estimation %>
          </td>
          <td>
            <% total_tracked_time = HarvestLog.total_time_tracked(@board.id, card.short_id.to_s).sum(&:total_time) %>
            <%= total_tracked_time %>
          </td>
          <td>
            <%= "%.2f" % (average_developer_estimation - total_tracked_time) %> / <%= "%.2f" % (average_manager_estimation - total_tracked_time) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>
      No cards in this section
    </div>
  <% end %>
<% end %>