<h1>Listing harvest_trellos</h1>

<table class="table">
  <tr>
    <th>Harvest name</th>
    <th>Trello project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @harvest_trellos.each do |harvest_trello| %>
  <tr>
    <td><%= harvest_trello.harvest_name %></td>
    <td><%= harvest_trello.trello_project_id %></td>
    <td><%= link_to 'Show', harvest_trello %></td>
    <td><%= link_to 'Edit', edit_harvest_trello_path(harvest_trello) %></td>
    <td><%= link_to 'Destroy', harvest_trello, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Harvest trello', new_harvest_trello_path, :class=> "btn" %>
