<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "GithubTrelloRails" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/shims" %>
  <%= render "shared/favicons" %>
</head>
<body>

  <div class="container">
    <%= render "layouts/header" %>
      <div class="row">

        <div class="col-md-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; FunctionalImperative 2013</p>
      </footer>

      <div class="debug">
        <%= debug(params) if Rails.env.development? %>
      </div>
  </div>

  <script src="https://api.trello.com/1/client.js?key=f8947184de87275b7d2d7d8a7cad978f"></script>
  <%= yield :end_of_body %>
</body>
</html>
